@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Roboto-light;
  src: url(../fonts/roboto-light.ttf);
}

$main-font: Montserrat-Bold;
$secondary-font: Montserrat-Regular;