

/*
@font-face {
  font-family: Roboto-light;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/roboto-light.ttf), url(../fonts/RobotoLight.woff2) format("woff2"), url(../fonts/RobotoLight.woff);
}

@font-face {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  src: local("Montserrat-Bold"), local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.ttf), url(../fonts/montserrat-bold.eot), url(../fonts/Montserrat-Bold.woff2) format("woff2"), url(../fonts/Montserrat-Bold.woff);
}

@font-face {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat-Regular"), local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.ttf), url(../fonts/Montserrat-Regular.woff2) format("woff2"), url(../fonts/Montserrat-Regular.woff);
}*/

@font-face {
  font-family: Roboto-light;
  src:  url(../fonts/Roboto-Light.eot);
}
@font-face {
  font-family: Montserrat-Regular;
  src:  url(../fonts/montserrat-regular.eot.eot);
}
@font-face {
  font-family: Montserrat-Bold;
  src:  url(../fonts/montserrat-bold.eot);
}

header{
    background-image: url(../img/desktop/header-img.jpg) ;
    /*behavior: url(../js/PIE.htc);*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 695px;
    font-family: Montserrat-Bold;
    text-align: center;

}
 .enter-block {
    width: 65%;
    margin: 0 auto;
    padding-top: 48px;
  }
  .enter-block__list {
    float: right;
  }
  .enter-block__titel {
    float: left;
  }
  .enter-block__button:hover {

    border: 2px solid #fff;
    border-radius: 20px;
    behavior: url(pie/pie.htc);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
    
    position: relative;
}
  .center-block {
    clear: both;
    padding-top: 138px;
    width: 48%;
    margin: 0 auto;
    line-height: 60px;
  }
  .center-block__midel-title {
    font-size: 52px;
    margin-bottom: 15px;
  }
  .center-block__footer-title {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .center-block__link {
    height: 45px;
    border-radius: 20px;
    behavior: url(pie/pie.htc);
    position: relative;
  }
   .second-block {
    width: 98%;
    margin: 100px auto;
  }
  .second-block__wrap {
    padding-top: 36px;
  }
    .step {
    display: block;
    margin-bottom: 20px;
    width: 47px;
    margin-top: 213px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 7px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    behavior: url(pie/pie.htc);
    position: relative;
  }
  .step-central {
    margin-top: 260px;
  }
  .first-step, .second-step, .third-step {
    height: 400px;
    width: 20%;
    padding-left: 21px;
    float: left;
    behavior: url(pie/pie.htc);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/320/step-1.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/320/step-1.jpg', sizingMethod='scale')";
  }